<footer class="bg-light">
    <div class="row py-3 footer">
        <div class="col">
            <ul>
                <li><a href="/about">About us</a></li>
                <li><a href="/artisan_list">Artisan list</a></li>
                <li><a href="#">Contact</a></li>
            </ul>
        </div>

        <div class="col">
            <ul>
                <li><a id="privacy_policy" data-link="/privacy-policy" href="#">Privacy Policy</a></li>
                <li><a id="cookie_policy" data-link="/customer-service" href="#">Cookie Policy</a></li>
                <li><a id="terms_conditions" data-link="/terms-conditions" href="#">Terms &amp; Conditions</a></li>
                <li><a class="anchor-link" id="returns_refunds" data-link="/customer-service#returns" href="#">Returns &amp;
          Refunds</a></li>
            </ul>
        </div>
        <div class="col">
            <div class="row justify-content-between">

                <a href="http://pinterest.com/artemest" target="_blank" class="icon">
                    <img src="../../assets/pinterest.webp" width="36" height="36">
                </a>

                <a href="#" target="_blank" class="icon">
                    <img src="../../assets/linkedin.webp" width="36" height="36">

                </a>

                <a href="https://www.facebook.com/pages/Artemest/757770690959689" target="blank" class="icon">
                    <img src="../../assets/facebook_icon.webp" width="36" height="36">

                </a>

            </div>
        </div>
    </div>
</footer>