<div class="p-3">
  <button mat-stroked-button color="primary" (click)="logout()">Log out</button>
</div>

<mat-tab-group>
  <mat-tab label="Collection">
    <app-management-collection></app-management-collection>
  </mat-tab>
  <mat-tab label="Furniture">
    <app-management-furniture></app-management-furniture>
  </mat-tab>
  <mat-tab label="Material">
  Creazione materiali che possono essere usati nei mobili
  </mat-tab>
  <mat-tab label="History Orders">
  Storico ordini
  </mat-tab>
</mat-tab-group>
