<!--<div style="height: 6rem; background: url('../../assets/background_vision.webp') ">-->
<!--  <h3 class="text-center" style="padding-top: 2rem;">Our Vision</h3>-->
<!--</div>-->
<!--<div class="p-3"></div>-->

<app-breadcrumb [furniture]="item" *ngIf="!loading"></app-breadcrumb>

<div class="p-3"></div>

		<div *ngIf="loading">
			<div class="lds-ripple">
				<div></div>
				<div></div>
			</div>
      <span class="loadingPosition">Loading...</span>
		</div>

<div  *ngIf="!loading">

  <div class="row" >

    <div class="col-sm-1">

      <i class="material-icons moveArrow" style="margin-top: 40px;">
        keyboard_arrow_up
      </i>
      <ul style="list-style-type:none;    padding-left: 10px; " *ngFor="let sm of smallImages">
        <li>
          <img [src]="sm" height="64" width="64">
        </li>
      </ul>
      <i class="material-icons moveArrow">
        keyboard_arrow_down
      </i>

    </div>

    <div class="col-sm-12 col-md-12 col-lg-4 col-xl-6">

      <img class="img-fluid" [src]="selectedImage">
    </div>

    <div class="col-sm-12 col-md-12 col-lg-6 col-xl-5" >


      <div class="float-right" ><img height="24" width="24" src="../../assets/corazon.webp"></div><br>

      <div class="p-2" style="padding-left: unset!important; font-size: large">{{item.name}}</div>

      <div style="font-weight: 400;">£ {{item.price}}</div>

      <div class="p-2"></div>

      <div style="font-weight: 400;" *ngIf="item.collectionId!==''">{{item.collectionId}}</div>
      <div style="font-weight: 400;" *ngIf="item.collectionId===''">STUDIO85 collection</div>

      <div class="p-2"></div>

      <div style="    width: 100%;
        text-align: center; top: 20px;
        background-color: #5c5c5c;margin-bottom: 30px;
        ">

        <span style="text-transform: uppercase;
        height: 50px;     transition-duration: .3s;
        color: #fff;     letter-spacing: 2.15px;
            padding: 0 15px;
            outline: 0;
            outline-offset: 0;
            border-radius: 0;
            cursor: pointer;
        line-height: 50px;
        font-size: 14px;" (click)="addItem(item)"> {{descButton}}

        </span></div>

      <div class="p-2"></div>

      <div class="col-12">

        <div class="d-flex justify-content-around">

                <span>
                   DOWNLOAD PRODUCT TEARSHEET
                </span>



          <img height="24" width="24" src="../../assets/pinterest_icon.png">
          <img src="../../assets/facebook_icon.webp" width="24" height="24">
          <img height="24" width="24" src="../../assets/linkedin.webp">

        </div>

        <div>

        </div>


      </div>


      <div class="col-12">

        <div class="p-2" >

                <span style="padding-left: 18px">
                   REQUEST CUSTOMIZATION
                </span>
        </div>
      </div>

    </div>




  </div>

  <div class="row" style="  padding-left: 15px;
        padding-right: 15px;
        padding-top: 40px;">

    <div class="col-12" style="    font-weight: 600;
            margin-top: 0;
            margin-bottom: 0; text-transform: uppercase;
            font-size: 16px;">Description of the product</div>

    <div class="col-12">
      {{item.description}}
    </div>

</div>


  <div class="row" style="  padding-left: 15px;
        padding-right: 15px;
        padding-top: 40px;">

    <div class="col-6" style="    font-weight: 600;
            margin-top: 0;
            margin-bottom: 0; text-transform: uppercase;
            font-size: 16px;">Product information</div>

    <div class="col-6" style="    font-weight: 600;
            margin-top: 0;
            margin-bottom: 0; text-transform: uppercase;
            font-size: 16px;">
      SHIPPING & RETURNS
    </div>

    <div class="col-6" style="padding: 15px">

               <span style="    font-weight: 600;     color: #5c5c5c;
               text-transform: uppercase;"> available colours </span>
      <br>
      <div *ngFor="let c of item.combinations">
      <span style="font-size: small;">{{c.colour.value}}</span>
      </div>
    </div>

    <div class="col-6" style="padding-top: 15px;">

                <span style="    font-weight: 600;     color: #5c5c5c;
                text-transform: uppercase;"> RETURNS</span>
      <br>
      <span style="font-size: small;">
                    This item is returnable within 30 days of delivery. Restocking and return shipping fees may apply. <br>See our Return Policy for details.
                </span>
    </div>

    <div class="col-12" style="padding: 15px 20px;">

                <span style="    font-weight: 600;     color: #5c5c5c;
                text-transform: uppercase;"> Dimension </span>
      <br>
      <div *ngFor="let c of item.combinations">
      <span style="font-size: small;">{{c.dimension.height}}X{{c.dimension.width}}X{{c.dimension.depth}}</span>
      </div>
    </div>

    <div class="col-12" style="padding: 15px 20px;">

                <span style="    font-weight: 600;     color: #5c5c5c;
                text-transform: uppercase;"> Made of </span>
      <br>
      <span style="font-size: small;">BLABLABA</span>
    </div>

    <div class="col-12" style="padding: 15px 20px;">

                <span style="    font-weight: 600;     color: #5c5c5c;
                text-transform: uppercase;"> Style </span>
      <br>
      <div *ngFor="let c of item.combinations">
        <span style="font-size: small;">{{c.style.value}}</span>

      </div>
    </div>

  </div>

  <mat-tab-group mat-align-tabs="center">
    <mat-tab label="More from this collection" *ngIf="item.collectionId!==''">
      <div style="padding-top: 15px;" >


        <div class="d-flex justify-content-between row">

          <img class="col-3"  [src]="f" *ngFor="let f in fromSameCollection" alt="Image from same collection">
<!--          <img class="col-3" src="/Users/ab/Desktop/pok.png">-->
<!--          <img class="col-3" src="/Users/ab/Desktop/pok.png">-->
        </div>


<!--        <div class="d-flex justify-content-center p-4">-->
<!--          <button type="button" class="btn btn-light ">Show more</button>-->
<!--        </div>-->

      </div>
    </mat-tab>
    <mat-tab label="Similar to this product">

      <div class="row">
        <div class="col-4"  *ngFor="let f of fromSameCategory">
        <figure >
          <img src="{{f.images[0]}}"  alt="Image from same category" class="img-fluid pointer" (click)="openDetailFurniture(f.id)" />
          <figcaption style="text-align: center">
            {{f.name}}
          </figcaption>
        </figure>
        </div>
      </div>

    </mat-tab>
    <mat-tab label="People also bought"> People also bought </mat-tab>
  </mat-tab-group>







<!--          <div style="    margin-left: 6px;">-->
<!--            <div>-->
<!--              <span style="    font-weight: 600;">DIMENSIONS</span>-->
<!--              <br>-->
<!--              <span style="font-weight: 100;color: darkgray;">W 13.78 x D 59.06 x H 33.46 in</span>-->
<!--              <br>-->
<!--              <span style="font-weight: 100;color: darkgray;">W 35 x D 150 x H 85 cm</span>-->
<!--            </div>-->

<!--          </div>-->
<!--          <div class="p-1" style="width: 100%"></div>-->

<!--          <div style="    margin-left: 6px;">-->
<!--            <div >-->
<!--              <span style="    font-weight: 600;">MATERIALS</span>-->
<!--              <br>-->
<!--              <span style="font-weight: 100;color: darkgray;">• Water painted wood top tray, lacquered Mdf case covered inside with-->
<!--                customizable wallpaper texture, laquered metal pipe structure.</span>-->
<!--            </div>-->
<!--          </div>-->

<!--          <div class="p-1" style="width: 100%"></div>-->

<!--                <div    style="margin-left: 6px;" >-->
<!--                  <span style="    font-weight: 600;">DELIVERY & RETURNS</span>-->
<!--                  <br>-->
<!--                  <span style="font-weight: 100;color: darkgray;">• Handcrafted for you, ships in 8-9 weeks</span>-->
<!--                  <br>-->
<!--                  <span style="font-weight: 100;color: darkgray;"> • Shipping to United Kingdom: FREE</span>-->
<!--                  <br>-->
<!--                  <span style="font-weight: 100;color: darkgray;"> • White glove or special needs? Contact Us </span>-->
<!--                  <br>-->
<!--                  <span style="font-weight: 100;color: darkgray;">• Changed your mind? Read our return policy</span>-->
<!--                </div>-->


<!--        </div>-->
<!--    </div>-->
  </div>

<!--  <div style="height: 20px; width: 100%"></div>-->


<!--  <h5 mat-subheader>{{titleBottomList}}</h5>-->


<!--  <div>-->

<!--    <div class="row">-->


<!--      <i class="material-icons" style="    top: 120px;-->
<!--    float: left;-->
<!--    position: relative;" (click)="backArrow()">-->
<!--        arrow_back_ios-->
<!--      </i>-->

<!--      <div class="customColumn">-->


<!--        <figure>-->

<!--          <img-->
<!--            src="https://firebasestorage.googleapis.com/v0/b/studio85.appspot.com/o/sideboard_front.jpg?alt=media&token=26c93306-d189-4b17-badc-d6c6971fa0d5" class="img-fluid" />-->

<!--          <figcaption style="text-align: left;">-->
<!--            <span style="font-weight: bold">NEXTING TABLES</span>-->
<!--            <br>-->
<!--            <span style="font-weight: lighter">DESIGNER MATTEO MUGNAI</span>-->
<!--            <br>-->
<!--            <span style="font-weight: lighter">£ 2500</span>-->
<!--          </figcaption>-->


<!--        </figure>-->
<!--              </div>-->

<!--      <div class="spaceBetweenColumn"></div>-->

<!--      <div class="customColumn">-->

<!--        <figure>-->

<!--          <img-->
<!--            src="https://firebasestorage.googleapis.com/v0/b/studio85.appspot.com/o/sideboard_front.jpg?alt=media&token=26c93306-d189-4b17-badc-d6c6971fa0d5" class="img-fluid" />-->

<!--          <figcaption style="text-align: left;">-->
<!--            <span style="font-weight: bold">NEXTING TABLES</span>-->
<!--            <br>-->
<!--            <span style="font-weight: lighter">DESIGNER MATTEO MUGNAI</span>-->
<!--            <br>-->
<!--            <span style="font-weight: lighter">£ 2500</span>-->
<!--          </figcaption>-->

<!--        </figure>-->
<!--      </div>-->

<!--      <div class="spaceBetweenColumn"></div>-->


<!--      <div class="customColumn">-->


<!--        <figure>-->

<!--          <img-->
<!--            src="https://firebasestorage.googleapis.com/v0/b/studio85.appspot.com/o/sideboard_front.jpg?alt=media&token=26c93306-d189-4b17-badc-d6c6971fa0d5" class="img-fluid" />-->

<!--          <figcaption style="text-align: left;">-->
<!--            <span style="font-weight: bold">NEXTING TABLES</span>-->
<!--            <br>-->
<!--            <span style="font-weight: lighter">DESIGNER MATTEO MUGNAI</span>-->
<!--            <br>-->
<!--            <span style="font-weight: lighter">£ 2500</span>-->
<!--          </figcaption>-->


<!--        </figure>-->
<!--      </div>-->

<!--      <div class="spaceBetweenColumn"></div>-->

<!--      <div class="customColumn">-->

<!--        <figure>-->

<!--          <img-->
<!--            src="https://firebasestorage.googleapis.com/v0/b/studio85.appspot.com/o/sideboard_front.jpg?alt=media&token=26c93306-d189-4b17-badc-d6c6971fa0d5" class="img-fluid" />-->

<!--          <figcaption style="text-align: left;">-->
<!--            <span style="font-weight: bold">NEXTING TABLES</span>-->
<!--            <br>-->
<!--            <span style="font-weight: lighter">DESIGNER MATTEO MUGNAI</span>-->
<!--            <br>-->
<!--            <span style="font-weight: lighter">£ 2500</span>-->
<!--          </figcaption>-->


<!--        </figure>-->


<!--      </div>-->

<!--            <i class="material-icons" style="    top: 120px;-->
<!--            float: right; left: 10px;-->
<!--            position: relative;" (click)="forwardArrow()">-->
<!--              arrow_forward_ios-->
<!--            </i>-->
<!--          </div>-->
