.alignDescToImage {
  display: flex;
  align-items: center;
}

.spaceBetween {
  margin-bottom: 2rem;
  margin-top: 2rem;
}

.spaceDescImage {
  margin-left: .8rem;
}

.titleBolder {
  font-family: 'Quicksand', sans-serif;
  font-weight: 700;
}
