<div style="height: 6rem; background: url('../../assets/background_vision.webp') ">
  <h3 class="text-center" style="padding-top: 2rem;">Our Vision</h3>
</div>
<div class="p-3"></div>

<app-breadcrumb [sections]="section"></app-breadcrumb>

<div class="p-3"></div>

<div  *ngIf="!loading">
  <div class="row">
    <img
      src="https://lh3.googleusercontent.com/-cD5SrUCrQ40/Xc2BNG71PbI/AAAAAAAA3lo/_sWYKE-ZiIgE4h5qUNpA2giJWHb-bGgVACK8BGAsYHg/s512/2019-11-14.jpg"
      class="col-6"
      style="max-height: 650px"
      alt="Image cover collection" >

    <div class="col">
        <div>

          <div class="row">
            <div class="col-8 noPaddingLeft">
              <h1 class="titleFurniture noMarginBottom">{{item.name}}</h1>
            </div>
            <div class="row ml-auto align-items-end" style="margin-bottom: .3rem" >
                 <span class="titleFurniture">WHILST</span>
                  <img height="24" width="24" src="../../assets/corazon.webp" style="margin-left: .5rem" alt="Favourite icon">
                  <mat-icon style="margin-left: .5rem;" [ngStyle]="{'color':'grey'}">folder</mat-icon>
            </div>

          </div>
          <div class="separator"></div>

          <div>nome designer</div>
          <div class="p-1">£ {{item.price}}</div>
          <div class="p-3"></div>
          <div style="position: relative">
          <button type="button" class="btn btn-secondary removeBorderFromBtn col-6 " style="position: relative;top: 20px;"
          (click)="addItem(item)">{{descButton}}</button>
          <div style="background-color: whitesmoke; height: 200px">
            <div class="p-3"></div>
              <div class="float-right" style="margin-right: 1rem">
                REQUEST MORE INFO
              </div>

            <div class="p-3 noPaddingLeft">

              <div class="row">
                <div class="col-auto" style="padding-left: 0!important;">
                  <img src="../../assets/ruller.webp" height="24" width="24">
                </div>
                <div >
                  <span> REQUEST CUSTOMIZATION </span>
                </div>
              </div>

             <div class="row p-3" style="padding-left: 0!important;">
               <div class="col-auto" style="padding-left: 0!important;">
               <mat-icon>
                 cloud_download
               </mat-icon>
               </div>
               <div >
               <span> DOWNLOAND PRODUCT TEARSHEET </span>
               </div>
             </div>

              <div class="row">
                <div class="col-auto" style="padding-left: 0!important;">
                  <img src="../../assets/flag_it.png" height="24" width="24">
                </div>
                <div >
                  <span>  MADE IN ITALY </span>
                </div>
              </div>

            </div>
          </div></div>
          <div>
            <cite>
              {{item.description}}
            </cite>
          </div>
          <div class="p-1" style="width: 100%"></div>
          <div>
            <div>
              <p>Dimension</p>
              <p *ngIf="item.dimension===null">              Not specified. Please ask for info
              </p>
              <div *ngIf="item.dimension!=null">
              <p >
                          Height: <span style="margin-left: 5%">{{item.dimension.height}}</span> <span style="margin-left: 5%">mm</span>
                        </p>
                          <p>
                          Width: <span style="margin-left: 5%">{{item.dimension.width}}</span><span style="margin-left: 5%">mm</span>
                        </p>
                          <p>
                          Depth: <span style="margin-left: 5%">{{item.dimension.depth}}</span><span style="margin-left: 5%">mm</span>
                        </p>

              </div>
            </div>

          </div>

          <div>
            <div >
              <p>Material</p>
              <span *ngIf="item.material !== ''">{{item.material}}</span>
              <span *ngIf="item.material === ''">    Not specified. Please ask for info</span>
            </div>
          </div>

          <div class="p-1" style="width: 100%"></div>

                <div >
                  <span class="titleBolder">Delivery & Return</span>
                  <br>
                  <span>
                    <ul>
                      <li>
                        Preorder
                      </li>
                           <li>
                        Shipping to United Kingdom: £50 (Curbside)
                        </li>
                           <li>
                             White glove or special needs? <a > Contact Us </a>
                        </li>
                             <li>
                               Changed your mind? <a > Read our return policy </a>
                        </li>
                    </ul>
                  </span>
                </div>


        </div>
    </div>
  </div>

  <div class="row justify-content-md-center " style="width: 50%; margin-top: 1rem">

    <img src="https://images.unsplash.com/photo-1522771739844-6a9f6d5f14af?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1502&q=80" height="96" width="96"  alt="Image cover collection" >
    <img src="https://images.unsplash.com/photo-1522771739844-6a9f6d5f14af?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1502&q=80" style="    margin-left: .5rem;
    margin-right: .5rem;" height="96" width="96"  alt="Image cover collection" >
    <img src="https://images.unsplash.com/photo-1522771739844-6a9f6d5f14af?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1502&q=80" height="96" width="96" alt="Image cover collection" >

  </div>

  <div class="p-2">
    <div class="row justify-content-md-center" style="width: 50%; ">
    <span>SHARE</span>
      <div class="p-1" style="width: 100%"></div>
      <p>
        <img src="../../assets/pinterest.webp" width="36" height="36">

        <img src="../../assets/instagram.webp" width="36" height="36" style="margin-left: .2rem;margin-right: .2rem;">
        <img src="../../assets/linkedin.webp" width="36" height="36">

      </p>

    </div>
  </div>

  <div>



    <div class="scrollbar" id="style-1">
      <div class="force-overflow">
         <img width="320"  [src]="i" *ngFor="let i of images;let k = index">

    </div>

    </div>

</div>
