::ng-deep .carousel-control-prev-icon {
  display: inline-block;
  width: 36px;
  height: 36px;
  background: transparent no-repeat center center;
  background-size: 100% 100%;
  transform: rotate(180deg);
}

::ng-deep .carousel-control-next-icon {
  display: inline-block;
  width: 36px;
  height: 36px;
  background: transparent no-repeat center center;
  background-size: 100% 100%;
}

::ng-deep .carousel-control-prev-icon {
  background-image: url("../../assets/arrow_carousel.svg");
}

::ng-deep .carousel-control-next-icon {
  background-image: url("../../assets/arrow_carousel.svg");
}

.spaceLR {
  padding-right: 1.5rem;
  padding-left: 1.5rem;
}

.measureFurniture {
  top: 1rem; width: 311px; height: 50%; float: right;
}
