<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="navbar-collapse collapse w-100 ">

    </div>
    <div class="d-flex w-100 order-0">
        <div class="w-100">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" (click)="toggleNavbar()">
        <span class="navbar-toggler-icon"></span>
      </button>
        </div>
        <a class="navbar-brand text-center w-100" href="#">
            <img src="../../assets/logo_1.svg" style="max-height: 50px">
        </a>
        <span class="w-100"></span>
    </div>
    <div class="">
    </div>
    <div class="navbar-collapse collapse w-100 order-3 dual-collapse2">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <a class="nav-link pointer" (click)="openBasket()">
                    <i class="material-icons">
            shopping_cart
          </i>
                </a>
            </li>
            <li class="nav-item">

                <!-- if not signed -->

                <span class="nav-link pointer" (click)="openDialog()">SIGN IN</span>
            </li>
        </ul>
    </div>
</nav>

<nav class="navbar navbar-expand-lg navbar-light bg-light text-center bottomBar">
    <div class="collapse navbar-collapse " [ngClass]="{ 'show': navbarOpen }" id="navbarNav">
        <ul class="navbar-nav ml-auto mx-auto">
            <li class="nav-item dropdown">
                <a class="nav-link titeling" routerLink="home">HOME</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link titeling" routerLink="furnitures">PRODUCTS</a>
            </li>

            <li class="nav-item">
                <a class="nav-link titeling" routerLink="#">INTERIOR DESIGN</a>
            </li>
            <li class="nav-item">
                <a class="nav-link titeling" routerLink="#">ARTISAN </a>
            </li>
            <li class="nav-item">
                <a class="nav-link titeling" routerLink="ourstory">OUR STORY </a>
            </li>
            <li class="nav-item">
                <a class="nav-link titeling" routerLink="#">CONTACT </a>
            </li>

        </ul>
    </div>
</nav>