<div mat-dialog-content>
  <form class="example-form">
    <mat-form-field class="example-full-width">
      <input matInput placeholder="Email address" name="email address" autocomplete="email address"
             [(ngModel)]="email" #ctrl="ngModel" required>
      <div *ngIf="email.invalid && (email.dirty || email.touched)"
                    class="alert alert-danger">
                        <div *ngIf="email.errors.required">
                            Email is required.
                        </div>  
                        <div *ngIf="email.errors.email">
                            Please enter a valid email.
                        </div>                                               
                    </div> 
    </mat-form-field>

    <mat-form-field class="example-full-width" style="padding-bottom: 0;">
      <input matInput placeholder="Password" [type]="hide ? 'password' : 'text'"
             name="password" autocomplete="current-password" [minLength]="6"
             [(ngModel)]="password" #ctrl="ngModel" required>
      <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
              [attr.aria-pressed]="hide">
        <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
      </button>
    </mat-form-field>
    <div *ngIf="errosMsg!==''" >
      <small class="d-flex justify-content-center" style="color: red">{{errosMsg}}</small>
    </div>

    <div class="p-2"></div>


    <div class="d-flex">
      <div class="p-2">
    <mat-checkbox>
      <small>Remind me</small>
    </mat-checkbox>
      </div>

      <div class="ml-auto p-2">
      <a>  <small>Forgot Password? </small></a>
      </div>

    </div>
  </form>
</div>

<div>
  <button mat-stroked-button style="width: 100%!important;min-width: unset!important;" (click)="login()">Login</button>
</div>

<div class="d-flex justify-content-center p-1">
<small>Don't have an account ? Signup</small>
</div>

