.moreBottomPadding {
  padding-bottom: .4rem;

}

.bottomBorderFilter {
  border-bottom: solid black 1px;
}

.slideImg:hover {
  opacity: 1;

  transition-property: opacity;
  transition-duration: 2s;
  transition-delay: 2s;
}

.slideImg {
  opacity: 0.6;
}

.scrollbar
{
  overflow-x: scroll;
  margin-bottom: 25px;
  cursor: pointer;
}


#style-1::-webkit-scrollbar-track
{
  -webkit-box-shadow: inset 0 0 1px rgba(0,0,0,0.1);
  //border-radius: 8px;
  background-color: whitesmoke;
}

#style-1::-webkit-scrollbar
{
  //width: 6px;
  width: 8px;
  height: 8px;
  background-color: #F5F5F5;
}

#style-1::-webkit-scrollbar-thumb
{
  border-radius: 8px;
  -webkit-box-shadow: inset 0 0 1px rgba(192,192,192,.6);
  background-color: #555;
}

.force-overflow
{
  height: 155px;
  display: inline-block;
  width: 240px;
  white-space: nowrap;
}

.listStyle {
  list-style: none;
  padding-left: 10px
}

.example-container {
  position: absolute;
  top: 60px;
  bottom: 60px;
  left: 0;
  right: 0;
}

.example-sidenav {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 150px;
  top: 16px;
}

.mat-accordion .mat-expansion-panel:last-of-type{
  border-bottom-left-radius: unset;
  border-bottom-right-radius: unset;
}

.mat-accordion .mat-expansion-panel:first-of-type{
  border-bottom-left-radius: unset;
  border-bottom-right-radius: unset;
}

.mat-expansion-panel:not([class*=mat-elevation-z]){
  box-shadow: unset;
}
#con {
  position: relative;
  height: auto;
  max-width: 100%;
  overflow-y: hidden;
  overflow-x: auto;
  word-wrap: normal;
  white-space: nowrap;
}

.example-spacer {
  flex: 1 1 auto;
}

.customColumn {
  flex: 0 0 23.7%;
  max-width: 23.7%;
}

.spaceBetweenColumn{
  flex: 0 0 0.6%;
  max-width: 0.6%; background-color: transparent
}

.cdk-overlay-container .cdk-overlay-pane{
  margin-top: 22%;
}
