
  <div class="row justify-content-center align-self-center" style="height: 48px; margin-top: 1.5rem; margin-bottom: 1.5rem; ">
   <span style="    font-size: 25px;
   letter-spacing: 2px;
   font-weight: 500;
   color: rgba(0,0,0,0.5);">Furnitures</span>
  </div>

<mat-toolbar style="background-color: white;">

  <span class="example-spacer"></span>

  <div >
    <button mat-button [matMenuTriggerFor]="menu" style="outline: none;" >Order by <i class="material-icons">
      sort
    </i></button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item style="outline: none" (click)="orderByPriceLowToHigh()" >Price - Low to High</button>
      <button mat-menu-item style="outline: none" (click)="orderByPriceHighToLow()" >Price - High to Low</button>
      <button mat-menu-item style="outline: none" (click)="orderByZToA()" >Alphabetical order - A to Z</button>
      <button mat-menu-item style="outline: none" (click)="orderByAToZ()" >Alphabetical order - Z to A</button>
    </mat-menu>
  </div>
</mat-toolbar>
<mat-sidenav-container class="example-sidenav-container" *ngIf="mobileQuery.matches">

  <mat-sidenav mode="side" opened class="example-sidenav">

    <mat-accordion>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            Furniture
          </mat-panel-title>
        </mat-expansion-panel-header>
        <ul class="listStyle">
          <li *ngFor="let f of furnitureFilters;">
            <mat-checkbox (click)="applyFilter(f)" >{{f.value}}</mat-checkbox>
          </li>
        </ul>
      </mat-expansion-panel>
    </mat-accordion>

    <mat-accordion>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            Material
          </mat-panel-title>
        </mat-expansion-panel-header>
        <ul class="listStyle">
          <li *ngFor="let m of materialFilters">
            <mat-checkbox (click)="applyFilter(m)">{{m.value}}</mat-checkbox>
          </li>
        </ul>
      </mat-expansion-panel>
    </mat-accordion>

    <mat-accordion>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            Colour
          </mat-panel-title>
        </mat-expansion-panel-header>
        <ul class="listStyle">
          <li *ngFor="let c of colourFilters">
            <mat-checkbox (click)="applyFilter(c)">{{c.value}}</mat-checkbox>
          </li>
        </ul>
      </mat-expansion-panel>
    </mat-accordion>

    <mat-accordion>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            Style
          </mat-panel-title>
        </mat-expansion-panel-header>
        <ul class="listStyle">
          <li *ngFor="let s of styleFilters">
            <mat-checkbox >{{s.value}}</mat-checkbox>
          </li>
        </ul>
      </mat-expansion-panel>
    </mat-accordion>

  </mat-sidenav>

  <mat-sidenav-content >

    <div>

      <div *ngIf="loading">
        <div class="lds-ripple">
          <div></div>
          <div></div>
        </div>
        <span class="loadingPosition">Loading...</span>
      </div>

      <div *ngIf="!loading">


        <div class="p-2" style="width: 100%"></div>

       <div class="row">

        <div class="col-4"  *ngFor="let f of listFurnitures">

          <figure>
            <img *ngIf="f.combinations.length>0" [src]="f.combinations[0].images[0]" class="img-fluid pointer" (click)="goToDetail(f.id)"
            alt="{{f.name}}"/>

            <figcaption style="text-align: center;">
              <span class="text-capitalize" style="font-style: italic;">{{f.name}}</span> <br>
            
              <span style="font-weight: 500" *ngIf="f.collectionId == ''">STUDIO 85</span>
              <span style="font-weight: bold" *ngIf="f.collectionId !== ''">{{f.collectionId}}</span>
              <br>
            
              <span style="font-weight: lighter" >{{f.price | currencywithspace:'GBP'}}</span>
            </figcaption>
          </figure>


        </div>

        </div>

        <!-- <mat-grid-list  rowHeight="320px" [cols]="breakpoint" (window:resize)="onResize($event)" >
          <mat-grid-tile
            *ngFor="let f of listFurnitures"
            [rowspan]="1"
            [colspan]="1">
            <figure>
              <img *ngIf="f.combinations.length>0" [src]="f.combinations[0].images[0]" height="240px" class="img-fluid pointer" (click)="goToDetail(f.id)"
              alt="{{f.name}}"/>

              <figcaption style="text-align: center;">
                <span class="text-capitalize" >{{f.name}}</span> <br>
              
                <span style="font-weight: 500" *ngIf="f.collectionId == ''">STUDIO 85 COLLECTION</span>
                <span style="font-weight: bold" *ngIf="f.collectionId !== ''">{{f.collectionId}}</span>
                <br>
              
                <span style="font-weight: lighter" >{{f.price | currencywithspace:'GBP'}}</span>
              </figcaption>
            </figure>
          </mat-grid-tile>
        </mat-grid-list> -->
      </div>
    </div>


  </mat-sidenav-content>
</mat-sidenav-container>
<mat-toolbar style="background-color: #f8f9fa!important;"  *ngIf="!mobileQuery.matches">
      <mat-form-field style="width: 50%">
        <mat-label>Furnitures</mat-label>
        <mat-select multiple>
          <mat-option *ngFor="let op of furnitureFilters" (click)="applyFilter(op)">{{ op.value }}</mat-option>
        </mat-select>
      </mat-form-field>
  <mat-form-field style="width: 50%; margin-left: 25px">
        <mat-label>Material</mat-label>
        <mat-select multiple>
          <mat-option *ngFor="let op of materialFilters" (click)="applyFilter(op)">{{ op.value }}</mat-option>
        </mat-select>
      </mat-form-field>
</mat-toolbar>
<mat-toolbar style="background-color: #f8f9fa!important;" *ngIf="!mobileQuery.matches">
  <mat-form-field style="width: 50%">

    <mat-label>Colour</mat-label>
  <mat-select multiple>
    <mat-option *ngFor="let op of colourFilters" (click)="applyFilter(op)">{{ op.value }}</mat-option>
  </mat-select>
  </mat-form-field>
  <mat-form-field style="width: 50%; margin-left: 25px">

    <mat-label>Styles</mat-label>
    <mat-select multiple>
      <mat-option *ngFor="let op of styleFilters" (click)="applyFilter(op)">{{ op.value }}</mat-option>
    </mat-select>
  </mat-form-field>
</mat-toolbar>
<div *ngIf="!loading">


  <div class="p-2" style="width: 100%"></div>

  <mat-grid-list  rowHeight="320px" [cols]="breakpoint" (window:resize)="onResize($event)"  *ngIf="!mobileQuery.matches">
    <mat-grid-tile
      *ngFor="let f of listFurnitures"
      [rowspan]="1"
      [colspan]="1">
      <figure>
        <img *ngIf="f.combinations.length>0" [src]="f.combinations[0].images[0]" class="img-fluid pointer" (click)="goToDetail(f.id)"
             alt="{{f.name}}"/>

        <figcaption style="text-align: center;">
          <span style="font-weight: bold" *ngIf="f.collectionId == ''">STUDIO 85 COLLECTION</span>
          <span style="font-weight: bold" *ngIf="f.collectionId !== ''">{{f.collectionId}}</span>
          <br>
          <span style="font-weight: bold">{{f.name}}</span>
          <br>
          <span style="font-weight: lighter" (click)="openDesignerDetail(f.id)" *ngIf="f.collectionId !== ''">DESIGNER MATTEO MUGNAI</span>
          <span style="font-weight: lighter" (click)="openDesignerDetail(f.id)" *ngIf="f.collectionId == ''"></span>
          <span style="font-weight: lighter" >{{f.price | currencywithspace:'GBP'}}</span>
        </figcaption>
      </figure>
    </mat-grid-tile>
  </mat-grid-list>
</div>

