<!--<div style="height: 6rem; background: url('../../assets/background_vision.webp') ">-->
<!--  <h3 class="text-center" style="padding-top: 2rem; color: white">Furniture</h3>-->
<!--</div>-->
<!--<div class="p-3"></div>-->

<div style="border-bottom: 1px solid back;">
	<mat-form-field>
		<mat-label>Type of furrniture</mat-label>
		<mat-select [formControl]="furnitureFilterCtrl" multiple>
			<mat-option *ngFor="let f of furnitureFilters" [value]="f">{{f.value}}</mat-option>
		</mat-select>
	</mat-form-field>

	<mat-form-field class="px-2">
		<mat-label>Material</mat-label>
		<mat-select [formControl]="materialFilterCtrl" multiple>
			<mat-option *ngFor="let m of materialFilters" [value]="m">{{m.value}}</mat-option>
		</mat-select>
	</mat-form-field>

	<mat-form-field>
		<mat-label>Colour</mat-label>
		<mat-select [formControl]="coloursFilterCtrl" multiple>
			<mat-option *ngFor="let c of colourFilter" [value]="c">{{c.value}}</mat-option>
		</mat-select>
	</mat-form-field>

	<mat-form-field class="px-2">
		<mat-label>Style</mat-label>
		<mat-select [formControl]="styleFilterCtrl" multiple>
			<mat-option *ngFor="let s of styleFilter" [value]="s">{{s.value}}</mat-option>
		</mat-select>
	</mat-form-field>

    <br>

    <button mat-stroked-button>Clear Filters</button>
	<div>

		<div *ngIf="loading">
			<div class="lds-ripple">
				<div></div>
				<div></div>
			</div>
		</div>

		<div *ngIf="!loading">

			<div class="row" *ngFor="const f of listFurnitures">

				<div class="col-xl-3">
					<figure>
						<img [src]="f.images[0]" class="img-fluid" />

						<figcaption style="text-align: left;">
							<span style="font-weight: bold">NEXTING TABLES</span>
							<br>
							<span style="font-weight: bold">{{f.name}}</span>
							<br>
							<span style="font-weight: lighter">DESIGNER MATTEO MUGNAI</span>
							<br>
							<span style="font-weight: lighter">£ {{f.price}}</span>
						</figcaption>
					</figure>
				</div>
			</div>
		</div>
