<div style="height: 6rem; background: url('../../assets/background_vision.webp') ">
  <h3 class="text-center" style="padding-top: 2rem">Furniture</h3>
</div>
<div class="p-3"></div>


<div class="container">
  <div class="row">
    <div class="col-md-auto">

      <div class="row justify-content-center "><h5>Furniture</h5></div>
      <div class="bottomBorderFilter text-center" style="width: 12rem"></div>

      <nav class="navbar-light">

        <!-- Links -->
        <ul class="navbar-nav text-center">
          <li class="nav-item moreBottomPadding" *ngFor="let c of categoriesFurniture">
            <span class="nav-link"  (click)="filterList(c)">{{c}}</span>
          </li>
        </ul>

      </nav>

    </div>

<!--    <div class="col"></div>-->

    <!--      <div class="col-3">-->

    <div *ngFor="let f of furnitures" style="width: 360px;">

      <mat-carousel
        timings="250ms ease-in"
        [autoplay]="false"
        interval="5000"
        color="primary"
        maxWidth="auto"
        proportion="65"
        slides="{{f.images.length}}"
        [loop]="false"
        [hideArrows]="false"
        [hideIndicators]="false"
        [useKeyboard]="true"
        [useMouseWheel]="false"
        orientation="ltr"
      (click)="goToDetail(f.id)">

        <mat-carousel-slide
            #matCarouselSlide
            *ngFor="let slide of f.images; let i = index"
            [image]="slide"
            [hideOverlay]="false">

        </mat-carousel-slide>

      </mat-carousel>

          <div class="row  justify-content-center">
            {{f.name}}
          </div>
          <div class="row justify-content-center">
            <b>{{f.price}} £</b>
          </div>

    </div>

  </div>
</div>

