.moreBottomPadding {
  padding-bottom: .4rem;

}

.bottomBorderFilter {
  border-bottom: solid black 1px;
}

.slideImg:hover {
  opacity: 1;

  transition-property: opacity;
  transition-duration: 2s;
  transition-delay: 2s;
}

.slideImg {
  opacity: 0.6;
}

