<div class="p-3">
  <button mat-stroked-button color="primary" (click)="back()">Back</button>
</div>
<div *ngIf="!loading">

  <mat-horizontal-stepper #stepper>
    <mat-step [stepControl]="firstFormGroup">
      <form [formGroup]="firstFormGroup">
        <ng-template matStepLabel>Fill out, required fields</ng-template>
        <mat-form-field class="example-full-width">
          <input matInput placeholder="Name" formControlName="nameCtrl"  >
        </mat-form-field>

        <mat-form-field class="example-full-width">
          <textarea matInput  placeholder="Description" formControlName="descCtrl"  ></textarea>
        </mat-form-field>

        <mat-form-field class="example-full-width">
          <input type="text" placeholder="Choose Collection" aria-label="Collection's name" matInput formControlName="collCtrl"
                 [matAutocomplete]="auto">
          <mat-autocomplete #auto="matAutocomplete">
            <mat-option *ngFor="let option of filteredOptions | async" [value]="option.name" >
              {{option.name}}
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>

        <mat-form-field class="example-full-width">
          <input matInput type="text" (blur)="transformAmount($event)" placeholder="Price" formControlName="priceCtrl" >
        </mat-form-field>

        <br>

        <mat-form-field style="width: 200px">
          <mat-label>Category Furniture</mat-label>
          <mat-select [compareWith]="compareCategoryObjects"  formControlName="catCtrl">
            <mat-option *ngFor="let c of furnitureFilters" [value]="c" >
              {{c.value}}
            </mat-option>
          </mat-select>
        </mat-form-field>

      </form>
    </mat-step>
    <mat-step [stepControl]="secondFormGroup">
      <form [formGroup]="secondFormGroup">
        <ng-template matStepLabel>Fill out, combinations of the furniture</ng-template>

        <div style="top: 40px"></div>
        <cite>
          Even if you have no combination (eg. only one colors, one material etc). You need to create one
          It will be used as default
        </cite>

        <br>

        <button mat-raised-button color="primary" style="margin-top: 20px; margin-bottom: 20px" (click)="addCombination()" > create combination</button>


        <div *ngFor="let comb of combinations; let k=index;">

          <mat-card>

          <mat-form-field style="width: 200px; margin-left: 40px">
            <mat-label>Material Furniture</mat-label>
            <mat-select  [(ngModel)]="comb.material" [compareWith]="compareMaterialObjects" required [ngModelOptions]="{standalone: true}">
              <mat-option *ngFor="let m of materialFilters" [value]="m" >
                {{m.value}}
              </mat-option>
            </mat-select>
          </mat-form-field>

          <mat-form-field style="width: 200px; margin-left: 40px">
            <mat-label>Style Furniture</mat-label>
            <mat-select  [(ngModel)]="comb.style"  required [ngModelOptions]="{standalone: true}">
              <mat-option *ngFor="let s of styleFilters" [value]="s" >
                {{s.value}}
              </mat-option>
            </mat-select>
          </mat-form-field>

          <mat-form-field style="width: 200px; margin-left: 40px">
            <mat-label>Colour Furniture</mat-label>
            <mat-select  [(ngModel)]="comb.colour"  required [ngModelOptions]="{standalone: true}">
              <mat-option *ngFor="let c of colourFilters" [value]="c" >
                {{c.value}}
              </mat-option>
            </mat-select>
          </mat-form-field>


          <mat-form-field style="width: 120px;  margin-left: 40px;">
            <input matInput type="number" placeholder="Width" name="Dimension width"  [(ngModel)]="comb.dimension.width" [ngModelOptions]="{standalone: true}">
          </mat-form-field>


          <mat-form-field style="width: 120px; margin-left: 10px; margin-right: 10px">
            <input matInput type="number" placeholder="Height" name="Dimension height"  [(ngModel)]="comb.dimension.height" [ngModelOptions]="{standalone: true}">
          </mat-form-field>

          <mat-form-field style="width: 120px">
            <input matInput type="number"  placeholder="Depth" name="Dimension depth"  [(ngModel)]="comb.dimension.depth" [ngModelOptions]="{standalone: true}">
          </mat-form-field>

            <br> <br>
          <small>Please upload as first image the bigger one</small>
          <input type="file" multiple  (change)="fileChange($event.target.files, k)" style="margin-left: 40px">
          <mat-progress-spinner mode="indeterminate" *ngIf="isConverting && !conversionDone"></mat-progress-spinner>
          <div *ngIf="!isConverting && conversionDone">File converted and successfully</div>
          <div *ngIf="comb.images.length > 0" style="margin-top: 10px" >
            <div *ngFor="let i of comb.images" style="margin-bottom: 10px">
              <img height="102" width="102" [src]="i" >
              <button mat-stroked-button (click)="removeImg(i)">REMOVE</button>
            </div>

          </div>

            <mat-card-footer>

            <mat-action-row>
              <button mat-stroked-button color="primary" style="margin-bottom: 20px; margin-top: 20px; margin-left: 40px" (click)="removeCombination(k)" > remove combination</button>
            </mat-action-row>

            </mat-card-footer>
          </mat-card>

        </div>

      </form>
      
      <div>
        <button mat-button matStepperPrevious>Back</button>
        <button mat-button (click)="stepper.reset()">Reset</button>
        <button mat-button (click)="save()">Save</button>
      </div>
    </mat-step>
  </mat-horizontal-stepper>
</div>

