<div class="p-3">
  <button mat-stroked-button color="primary" (click)="back()">Back</button>
</div>
<div *ngIf="!loading">

  <mat-horizontal-stepper #stepper>
    <mat-step [stepControl]="firstFormGroup">
      <form [formGroup]="firstFormGroup">
        <ng-template matStepLabel>Fill out, required fields</ng-template>
        <mat-form-field class="example-full-width">
          <input matInput placeholder="Name" formControlName="nameCtrl" required >
        </mat-form-field>

        <mat-form-field class="example-full-width">
          <textarea matInput  placeholder="Description" formControlName="descCtrl" required ></textarea>
        </mat-form-field>

        <mat-form-field class="example-full-width">
          <input type="text" placeholder="Choose Collection" aria-label="Collection's name" matInput formControlName="collCtrl"
                 required [matAutocomplete]="auto">
          <mat-autocomplete #auto="matAutocomplete">
            <mat-option *ngFor="let option of filteredOptions | async" [value]="option.name" >
              {{option.name}}
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>

        <mat-form-field class="example-full-width">
          <input matInput type="text" (blur)="transformAmount($event)" placeholder="Price" formControlName="priceCtrl" [(ngModel)]="formattedAmount">
        </mat-form-field>


        <div>
          <button mat-button matStepperNext>Next</button>
        </div>
      </form>
    </mat-step>
    <mat-step [stepControl]="secondFormGroup">
      <form [formGroup]="secondFormGroup">
        <ng-template matStepLabel>Fill out, combinations of the furniture</ng-template>
        <mat-form-field>
          <input matInput placeholder="Address" formControlName="secondCtrl" required>
        </mat-form-field>
        <div>
          <button mat-button matStepperPrevious>Back</button>
          <button mat-button matStepperNext>Next</button>
        </div>
      </form>
    </mat-step>
    <mat-step>
      <ng-template matStepLabel>Review</ng-template>
      You are now done.
      <div>
        <button mat-button matStepperPrevious>Back</button>
        <button mat-button (click)="stepper.reset()">Reset</button>
      </div>
    </mat-step>
  </mat-horizontal-stepper>




  <form class="example-form" autocomplete="off">






    <mat-form-field>
      <mat-label>Category Furniture</mat-label>
      <mat-select [(value)]="item.categoryItem" [compareWith]="compareCategoryObjects" required >
        <mat-option *ngFor="let c of furnitureFilters" [value]="c" >
          {{c.value}}
        </mat-option>
      </mat-select>
    </mat-form-field>

     <br>

    <mat-form-field>
      <mat-label>Material Furniture</mat-label>
      <mat-select [(value)]="item.materialId" [compareWith]="compareMaterialObjects" required >
        <mat-option *ngFor="let m of materialFilters" [value]="m" >
          {{m.value}}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <br>

<!--    <mat-form-field>-->
<!--      <mat-label>Category Furniture</mat-label>-->
<!--      <mat-select [(value)]="item.materialId" [compareWith]="compareMaterialObjects" required >-->
<!--        <mat-option *ngFor="let m of materialFilters" [value]="m" >-->
<!--          {{m.value}}-->
<!--        </mat-option>-->
<!--      </mat-select>-->
<!--    </mat-form-field>-->

    <br>

    <mat-form-field >
      <input matInput placeholder="Dimension width" name="Dimension width" required [(ngModel)]="item.dimension.width">
    </mat-form-field>

    <br>

    <mat-form-field >
      <input matInput placeholder="Dimension height" name="Dimension height" required [(ngModel)]="item.dimension.height">
    </mat-form-field>

    <br>

    <mat-form-field >
      <input matInput placeholder="Dimension depth" name="Dimension depth" required [(ngModel)]="item.dimension.depth">
    </mat-form-field>

    <div class="p-3"></div>
    <input type="file" multiple required (change)="fileChange($event.target.files)">
    <mat-progress-spinner mode="indeterminate" *ngIf="isConverting && !conversionDone"></mat-progress-spinner>
    <div *ngIf="!isConverting && conversionDone">File converted and successfully</div>
    <div *ngIf="item.images.length > 0" style="margin-top: 10px">
      <mat-chip-list aria-label="List images for furniture" >
        <mat-chip *ngFor="let i of item.images;" >
      <img height="102" width="102" [src]="i" >
      <mat-icon matChipRemove (click)="removeImg(i)">cancel</mat-icon>
    </mat-chip>

        </mat-chip-list>

    </div>
    <div  *ngIf="item.images.length === 0" style="margin-top: 10px">
      <span>0 image for this furniture</span>
    </div>


  </form>
  <div class="p-3"></div>
  <button mat-button (click)="back()">Cancel</button>
  <button mat-stroked-button color="primary" style="    margin-left: 30px;" (click)="save()">SAVE</button>
</div>

