/* You can add global styles to this file, and also import other style files */
//@import "~bootstrap/dist/css/bootstrap.min.css";
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
//@import "./assets/font";

body, html {
  font-size: 16px;
  font-weight: 300;
  font-family: 'Quicksand', sans-serif;
}
body {
  min-height: 100vh;
}
body, html {
  margin: 0 0;
  padding: 0 0;
}

.container{
  max-width: 100%;
}

.row {
  margin-left: 0;
  margin-right: 0;
}

.pointer{
  cursor: pointer;
}

.fullWidthBtn {
width: 100%!important;
  min-width: unset!important;
}

h2 {
    font-size: 2rem;
    font-family: 'Quicksand', sans-serif;
    font-weight: 300;
    font-style: normal;
}

h3 {
  font-weight: 300;
  font-style: normal;
  font-family: 'Quicksand', sans-serif;
}

p {
  font-weight: 400;
  font-style: normal;
}

a {
  text-decoration: none;
  color: black
}

a:hover {
  text-decoration: none;
  color: black
}

.noPaddingLeft {
  padding-left: unset;
}

.noPaddingRight {
  padding-right: unset;
}

.noPaddingBottom {
  padding-bottom: 0;
}

.noPaddingTop {
  padding-top: 0;
}

.noMarginBottom {
  margin-bottom: 0;
}


.noMarginTop {
  margin-top: 0;
}

.example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.example-full-width {
  width: 80%;
}

.removeBorderFromBtn{
  border-radius: unset;
}

@media screen and (min-width: 768px){
  h2 {
    font-size: 3rem;
  }
  }

.sizeContainer{

  @media screen and (min-width: 1024px){
    max-width: 23%;
    padding: 4px;
  }
  @media screen and (min-width: 768px){
    max-width: 23%;
    padding: 4px;
  }
}

.backgroundSlider{
  background-color: #ececec;
  @media screen and (max-width: 1920px){
    height: 100px;
  }
  @media screen and (max-width: 1024px){
    height: 70px;
  }
  @media screen and (max-width: 768px){
    height: 55px;
  }
}

.heightIcon{
  @media screen and (max-width: 1920px){
    position: relative;
  }
  @media screen and (max-width: 1024px){
    top: 70px;
    position: relative;
    font-size: 18px;
  }
  @media screen and (max-width: 768px){
    top: 55px;
    position: relative;
    font-size: 14px;

  }
}

  .homepage a.cta {
    letter-spacing:.2em
   }


   body header+.container {
    transition:all 0.5s;
    -webkit-transition:all 0.5s;
    -moz-transition:all 0.5s;
    margin-bottom:60px;
    -moz-transform:translateY(60px);
    -o-transform:translateY(60px);
    -ms-transform:translateY(60px);
    -webkit-transform:translateY(60px);
    transform:translateY(60px);
    -webkit-backface-visibility:0;
    backface-visibility:0
   }
