.centered {
  position: absolute;
  width: 100%;
  top: 50%;
  transform: translateY(-50%);

}

.navbar-light .navbar-toggler-icon {
  background-image: url("../../assets/mini_logo.webp")
}

.dropdown:hover > .dropdown-menu {
  display: block;
}

.dropdown-menu {
  margin: -0.125rem 0 0;
}

.dropdown-menu {
  border-radius: 0rem;
  border: none;
}

.header-sub {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  color: #fff;
  text-align: center;
}

.sub-header .image-wrapper {
  margin-top: 0px;
  position: absolute;
  width: 100%;
  text-align: center;
  height: 100%;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

.sub-header .image-wrapper:before {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  content: '';
  opacity: .2;
  background: #000;
}

@media screen and (min-width: 768px) {
  .sub-header .cta-header {
    height: 135px;
  }
}


section.sub-header {
  min-height: 460px;
}

@media screen and (min-width: 1025px) {
  .sub-header {
    margin-top: 0;
  }
}

@media screen and (min-width: 768px) {
  .sub-header {
    margin-top: -10px;
    min-height: 410px;
  }
}

.sub-header {
  font-family: 'Quicksand', sans-serif;
  font-weight: 400;
  font-style: normal;
  margin-bottom: 6px;
  margin-top: 0px;
  height: 280px;
  background-size: cover;
  background-attachment: fixed;
  background-position: center center;
  border-top: 3px solid transparent;
  z-index: 8;
  position: relative;
}

header .navigation {
  top: 0;
  position: absolute;
  width: 100%;
  z-index: 20;
}

section {
  display: block;
}

@media screen and (min-width: 1025px) {
  header .center-navigation {
    top: 72px;
    position: absolute;
    display: block;
  }

  #navbiglogo {
    width: 136px;
    height: 54px;
  }
}

header .center-navigation {
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  display: contents;
  text-align: center;
  width: 100%;
}

@media screen and (max-width: 1024px) {
  .mobile-nav-open header .center-navigation {
    transition: all 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    left: 0;
    z-index: 20;
  }

}

@media (max-width: 991.98px) {
  .offcanvas-collapse {
    position: fixed;
    top: 15%; /* Height of navbar */
    bottom: 0;
    left: 100%;
    width: 100%;
    padding-right: 1rem;
    padding-left: 1rem;
    overflow-y: auto;
    visibility: hidden;
    background-color: beige;
    transition: visibility .3s ease-in-out, -webkit-transform .3s ease-in-out;
    transition: transform .3s ease-in-out, visibility .3s ease-in-out;
    transition: transform .3s ease-in-out, visibility .3s ease-in-out, -webkit-transform .3s ease-in-out;
  }
  .offcanvas-collapse.open {
    visibility: visible;
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
  }

  #navbiglogo {
    height: 42px;
  }

  .navbar-light .navbar-nav .nav-link {
    color: red
  }
}

.navbar-toggle {
  border: none;
  background: transparent !important;

  &:hover {
    background: transparent !important;
  }

  .icon-bar {
    width: 22px;
    transition: all 0.2s;
  }

  .top-bar {
    transform: rotate(45deg);
    transform-origin: 10% 10%;
  }

  .middle-bar {
    opacity: 0;
  }

  .bottom-bar {
    transform: rotate(-45deg);
    transform-origin: 10% 90%;
  }

  &.collapsed {
    .top-bar {
      transform: rotate(0);
    }

    .middle-bar {
      opacity: 1;
    }

    .bottom-bar {
      transform: rotate(0);
    }
  }
}

.animateiconmenu {
  transform: rotate3d(1, 1, 1, 45deg);

  -webkit-transition-duration: 0.1s;
  -moz-transition-duration: 0.1s;
  -o-transition-duration: 0.1s;
  transition-duration: 0.1s;

  -webkit-transition-property: -webkit-transform;
  -moz-transition-property: -moz-transform;
  -o-transition-property: -o-transform;
  transition-property: transform;

  transition: all .2s ease-in-out;

}

body {
  padding-top: 40px;
}


@media screen and (min-width: 1025px) {
  header .logo {
    padding-top: 20px;
  }
}

header .logo {
  top: 0;
  left: 50%;
  position: absolute;
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  padding: 10px 0 0;
  width: 160px;
  margin-left: -80px;
  opacity: 1;
  z-index: 24;
  text-align: center;
}

header .header {
  top: 0;
  position: fixed;
  -webkit-box-shadow: -4px -4px 20px rgba(255, 255, 255, 0.4);
  -moz-box-shadow: -4px -4px 20px rgba(255, 255, 255, 0.4);
  box-shadow: -4px -4px 20px rgba(255, 255, 255, 0.4);
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  width: 100%;
  z-index: 21;
  height: 60px;
  border-top: 3px solid #B79961;
  background: #fff;
  border-bottom: 1px solid #F1F2F2;
}

header .navigation {
  top: 0;
  position: absolute;
  width: 100%;
  z-index: 20;
}

header .navigation .mobile-shipping {
  top: -66px;
  left: 130px;
  position: absolute;
  display: block;
}

.grow {
  transition: all .2s ease-in-out;
}

.grow:hover {
  transform: scale(1.1);
}

.titleHPBox {
  font-family: 'Quicksand', sans-serif;
  letter-spacing: .01em;
  position: relative;
  font-size: 30px;
  margin: 14px 0 12px 0;
  padding: 0 0 15px 0;
  left: .7rem;
}

.goldenBorder {
  border: 0.05rem solid #964b00
}

.box__content-text {
  font-size: 16px;
  font-family: 'Quicksand', sans-serif;
  margin: 4px 0;
}

.collectionStyleTileHP {
  font-family: 'Quicksand', sans-serif;
  letter-spacing: .01em;
  font-size: 32px;
  text-align: center;
  margin: 15px 0 20px 0;
}

.collectionStyleTileLink {
  font-family: 'Quicksand', sans-serif;
  font-size: 1.2rem;
  letter-spacing: .1rem;
}

a.cta {

  font-family: 'Quicksand', sans-serif;
  font-size: 12px;
  letter-spacing: .1em;
  text-decoration: none;
  text-transform: uppercase;
  cursor: pointer;

}


@media screen and (max-width: 768px) {
  .titleHPBox {
    position: relative;
    font-size: 20px;
    margin: 15px 0 8px;
    padding: 0;
  }
}
