<img src="https://images.unsplash.com/photo-1448375240586-882707db888b?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=4020&q=80" class="fullScreenImg">

<div class="row" style="padding-bottom: .1rem;">
    <div class="col-8">
        <div class="jumbotron">
            <h1 class="display-6 text-uppercase">Interior design service</h1>
            <hr class="my-4">
            <p style="word-spacing: .2rem; color: rgba(40,26,23,.6);">Concept Design, Design Development, Technical Design, and more. We design bespoke living spaces, we always look for the balance between the colours and texture to bring the uniqueness inside your house.
                <br>
                <br> Inspiration comes in within our design approach. Using different materials, we will play with texture and the natural pattern to create unique pieces to be lived in your house. Design is a way to elegantly enhance our perceptions,
                giving an exceptional feeling to our soul. </p>
        </div>
    </div>
    <div class="rightSizeDiv">
        <div class="jumbotron">
            <h1 class="display-6 text-uppercase instagramTitle">A GOOD DESIGN IS A KEY OF A WELL - BEING</h1>

            <div class="row" style="width: 100%; margin-top: 24px;">
              <img class="col-4 img-fluid pointer" [alt]="item['node']['edge_media_to_caption']['edges'][0]['node']['text']" [title]="item['node']['edge_media_to_caption']['edges'][0]['node']['text']" [src]="item['node']['thumbnail_resources'][1]['src']" style="padding: unset;"
                   *ngFor="let item of instgramFeeds, let i = index;" [ngClass]="{padLR: i == 1 || i == 4 || i == 7}" (click)="generateInstagramLink(item)" decoding="async" >


            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-7">
        <div class="jumbotron" style="padding-top: 0px">
            <h1 class="display-6 text-uppercase">Artisan</h1>
            <hr class="my-4">
            <p class="lighterText">Concept Design, Design Development, Technical Design, and more. We design bespoke living spaces, we always look for the balance between the colours and texture to bring the uniqueness inside your house.
                <br>
                <br> Inspiration comes in within our design approach. Using different materials, we will play with texture and the natural pattern to create unique pieces to be lived in your house. Design is a way to elegantly enhance our perceptions,
                giving an exceptional feeling to our soul. </p>



        </div>
    </div>
    <div class="col-5">
        <div class="jumbotron">
            <img class="img-fluid" height="auto" style="margin-top: 8px;" decoding="async"  src='https://upload.wikimedia.org/wikipedia/commons/c/c9/Ferrari_Portofino_IMG_0795.jpg'>
        </div>
    </div>

</div>
