<div
  style="height: 6rem; background: linear-gradient(       rgba(0, 0, 0, 0.5),       rgba(0, 0, 0, 0.5)     ),url('../../assets/background_vision.webp') ">
  <h3 class="text-center" style="padding-top: 2rem; color: white">Collections</h3>
</div>
<div class="p-2"></div>

<div *ngIf="collection!=null">

  <p class="text-center">{{collection.name}}</p>
  <span>{{collection.description}}</span>

  <p class="text-center">List furnitures of the collection</p>

  <div class="row">

    <div class="col-md-auto">

  <div class="d-flex flex-row justify-content-center align-items-center">

    <div *ngFor="let f of furnitures" style="width: 400px;">

      <div class="col-8">

      <mat-carousel
        timings="250ms ease-in"
        [autoplay]="false"
        interval="5000"
        color="primary"
        slides="{{f.images.length}}"
        [loop]="false"
        [hideArrows]="true"
        [hideIndicators]="false"
        [useKeyboard]="true"
        [useMouseWheel]="false"
        orientation="ltr"
        (click)="goToDetail(f.id)">

        <mat-carousel-slide
            #matCarouselSlide
            *ngFor="let slide of f.images; let i = index"
            [image]="slide"
            [hideOverlay]="true">

        </mat-carousel-slide>

      </mat-carousel>

      </div>

      <div class="p-2 flex-fill bd-highlight"> {{f.name}} </div>

      <div class="p-2 flex-fill bd-highlight"> £ {{f.price}} </div>

      <div class="p-2 flex-fill bd-highlight"> Buy now </div>

      </div>

    </div>
    </div>
  </div>

</div>

<div *ngIf="collections.length>0 && collection == null">
  <div class="container" *ngFor="let c of collections;let i = index">
    <div class="row">

      <ng-container *ngIf="i % 2 ===0">

       <img src="https://images.unsplash.com/photo-1522771739844-6a9f6d5f14af?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1502&q=80" class="col-6" alt="Image cover collection" >

        <div class="col">
          <div class="descrizione">
            <h1 class="pointer" (click)="loadCollection(c.id)">{{c.name}}</h1>
            <div > designed by <a class="pointer">Paola Navone</a></div>
              <div style="padding-top: .2rem">
                <p>{{c.description}}</p>
            </div>
          </div>
        </div>
      </ng-container>

      <ng-container *ngIf="i % 2 !==0">
        <div class="w-100 p-4"></div>

        <div class="col">

          <div class="descrizione">
            <h1 class="pointer" (click)="loadCollection(c.id)">{{c.name}}</h1>
            <div > designed by <a class="pointer">Paola Navone</a></div>
            <div style="padding-top: .2rem">
              <p>{{c.description}}</p>
            </div>
          </div>
        </div>

        <img src="https://images.unsplash.com/photo-1522771739844-6a9f6d5f14af?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1502&q=80" class="col-6" alt="Image cover collection" >
      </ng-container>

    </div>


    <div *ngIf="i > 0 && i < collections.length-1 " class="p-4"> </div>


  </div>
  </div>


