<div
  style="height: 6rem; background: linear-gradient(       rgba(0, 0, 0, 0.5),       rgba(0, 0, 0, 0.5)     ),url('../../assets/background_vision.webp') ">
  <h3 class="text-center" style="padding-top: 2rem; color: white">Collections</h3>
</div>
<div class="p-3"></div>

<div *ngIf="collection!=null">

  <p class="text-center">{{collection.name}}</p>
  <span>{{collection.description}}</span>

  <p class="text-center">List furnitures of the collection</p>

  <div class="row">

    <div class="col-md-auto">

  <div class="d-flex flex-row justify-content-center align-items-center">

    <div *ngFor="let f of furnitures" style="width: 400px;">

      <div class="col-8">

      <mat-carousel
        timings="250ms ease-in"
        [autoplay]="false"
        interval="5000"
        color="primary"
        slides="{{f.images.length}}"
        [loop]="false"
        [hideArrows]="true"
        [hideIndicators]="false"
        [useKeyboard]="true"
        [useMouseWheel]="false"
        orientation="ltr"
        (click)="goToDetail(f.id)">

        <mat-carousel-slide
            #matCarouselSlide
            *ngFor="let slide of f.images; let i = index"
            [image]="slide"
            [hideOverlay]="true">

        </mat-carousel-slide>

      </mat-carousel>

      </div>

      <div class="p-2 flex-fill bd-highlight"> {{f.name}} </div>

      <div class="p-2 flex-fill bd-highlight"> £ {{f.price}} </div>

      <div class="p-2 flex-fill bd-highlight"> Buy now </div>

      </div>

    </div>
    </div>
  </div>



</div>


<div *ngIf="collections.length>0 && collection == null">

 <div class="row" *ngFor="let c of oddCollections">
  <div class="col-8"><img [src]="c.cover"></div>
  <div class="col-4">
    <div class="header-sub ">
          <div class="centered ">
            <h5>{{c.name}}</h5>
            <a> shop now </a>
            <!--<a class="cta" href="/categories/furniture">Explore Now</a>-->
          </div>
        </div>

    </div>
</div>

    <div class="row" *ngFor="let c of evenCollections">
       <div class="col-4">
    <div class="header-sub ">
          <div class="centered ">
            <h5>{{c.name}}</h5>
            <a> shop now </a>
            <!--<a class="cta" href="/categories/furniture">Explore Now</a>-->
          </div>
        </div>

    </div>
        <div class="col-8"><img [src]="c.cover"></div>
</div>



<!--<div class="container">-->

<!--  <div class="row">-->

<!--    <div class="col-1"></div>-->

<!--    <div class="col-5"-->
<!--         style="border: 1px black solid; background-image: url('../../assets/RBTK8QHSMCI6CIBZGML2.webp'); height: 240px;">-->

<!--    </div>-->
<!--    <div class="col-5" style="border: 1px black solid; background-color: grey">-->
<!--      <div class="mt-3"></div>-->
<!--      <p class="text-center">-->
<!--        <b> Marble and Brass Collection</b>-->
<!--      </p>-->
<!--      <div class="mt-3"></div>-->
<!--      <p class="text-center">Altra scrita</p>-->
<!--      <div class="mt-4"></div>-->
<!--      <p class="text-center">-->
<!--        <a>Link collezione</a>-->
<!--      </p>-->
<!--    </div>-->
<!--    <div class="col-1"></div>-->
<!--  </div>-->

<!--  <div class="mt-3"></div>-->

<!--  <div class="row">-->

<!--    <div class="col-1"></div>-->


<!--    <div class="col-5" style="border: 1px black solid; background-color: grey">-->
<!--      <div class="mt-3"></div>-->
<!--      <p class="text-center">-->
<!--        <b> Marble and Brass Collection</b>-->
<!--      </p>-->
<!--      <div class="mt-3"></div>-->
<!--      <p class="text-center">Altra scrita</p>-->
<!--      <div class="mt-4"></div>-->
<!--      <p class="text-center">-->
<!--        <a>Link collezione</a>-->
<!--      </p>-->
<!--    </div>-->
<!--    <div class="col-5"-->
<!--         style="border: 1px black solid; background-image: url('../../assets/RBTK8QHSMCI6CIBZGML2.webp'); height: 240px;">-->

<!--    </div>-->
<!--    <div class="col-1"></div>-->
<!--  </div>-->


<!--</div>-->
