.somedescription {
  margin-right: 55%;
  margin-left: 5%;
}

.row {
  text-align: center;
}

.team {
  display: inline-block;
  margin-right: 6px;
}

.txt {
  line-height: 1.3;
  font-size: 16px;
  width: 500px;
  background-color: #eee;
  padding: 10px;
}

